@model IEnumerable<CourseManagament.Web.Models.Trainer>
@{
    ViewBag.Title = "IndexTrainer";
}

<h2>Trainer Management</h2>
<div class="form-group">
    @Html.ActionLink("Create a new trainer", "CreateTrainer", "Admin", new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm("IndexTrainer", "Admin", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", null, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Speciality</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.FullName</th>
                <td>@item.Email</td>
                <td>@item.DateOfBirth.ToString("d")</td>
                <td>@item.Address</td>
                <td>@item.Speciality</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteTrainer", "Admin", new { id = item.TrainerId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Edit", "EditTrainer", "Admin", new { id = item.TrainerId }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>