@model IEnumerable<CourseManagament.Web.ViewModels.CourseTraineesViewModels>
@{
    ViewBag.Title = "CourseTrainee";
}

<h2>Trainees in A Course</h2>
<div class="form-group">
    <td>
        @Html.ActionLink("Add Trainee to Course", "AddTrainee", "Courses", new { @class = "btn btn-primary" })
        @Html.ActionLink("Remove Trainee from A Course", "RemoveTrainee", "Courses", new { @class = "btn btn-danger" })
        @Html.ActionLink("Back To Course Management", "Index", "Courses", new { @class = "btn btn-default" })
    </td>
</div>
@using (Html.BeginForm("CourseTrainee", "Courses", FormMethod.Get))
{
    <div class="form-group">
        <label>Search Trainees by Enrolled CourseName</label>
        @Html.TextBox("searchString", null, new { @class = "form-control"})
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Trainees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course.CourseName</td>
                <td>
                    <ul>
                        @foreach (var user in item.Trainees)
                        {
                            <li>@user.FullName</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>