@model IEnumerable<CourseManagament.Web.Models.Trainer>
@{
    ViewBag.Title = "Index";
}

<h2>My Profile</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">Email</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Speicality</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.TrainerId</th>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Address</td>
                <td>@item.Speciality</td>
            </tr>
            <div class="form-group">
                @Html.ActionLink("Edit My Profile", "Edit", "Trainers", new { id = item.TrainerId }, new { @class = "btn btn-success" });
            </div>
        }
    </tbody>
</table>